
img {
    border-radius: 50%;
}

.Card{
    background: white;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
}


.upper-container{
    background: linear-gradient(to left, #2d00f7, #ff0291);

}

.restaurant-container{
    margin: 35px auto auto auto;
}

.name-container{
    background: white;
    font-size:large;
}

